.container { 
    width: 80%;
    margin: auto;
}
.first-row {
    display: flex;
}

.large-left {
    background-color: #2881bb;
    width: 60%;
    height: 175px;
}
.eru-text {
    width: 25%;
    margin-left: 3%;
}
.second-row {
    display: flex;
    margin-top: 2%; 
}

.second-row-column {
    max-height: 300px;
    width: 200px;
    /* background-color: red; */
    margin-left: 5px;
    margin-right: 5px;
}

.second-row-top {
    height: 130px;
    padding-bottom: 5px;
    background-color: blue
}
.gap {
    height: 50px;
}

.second-row-bottom {
    height: 50px;
    padding-top: 5px;
    background-color: #d1d2cd;
}

.teal { background-color: #2881bb}
.grey-teal {background-color: #2c6087}
.pink-purp {background-color: #9044b0}
.orangey {background-color: #ef763d}